@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

:root {
    /* Color styles */
    --black: rgba(0, 0, 0, 1);
    --white--500: rgba(255, 255, 255, 1);
    --white--50: rgba(242, 242, 242, 1);
    --white--100: rgba(230, 230, 230, 1);
    --white--200: rgba(204, 204, 204, 1);
    --white--300: rgba(179, 179, 179, 1);
    --white--400: rgba(153, 153, 153, 1);
    --white--600: rgba(102, 102, 102, 1);
    --white--700: rgba(77, 77, 77, 1);
    --white--800: rgba(51, 51, 51, 1);
    --white--900: rgba(26, 26, 26, 1);
    --white--950: rgba(13, 13, 13, 1);
    --primary--500: rgba(10, 36, 114, 1);
    --primary--50: rgba(232, 237, 253, 1);
    --primary--100: rgba(208, 219, 251, 1);
    --primary--200: rgba(161, 183, 247, 1);
    --primary--300: rgba(114, 146, 243, 1);
    --primary--400: rgba(67, 110, 239, 1);
    --primary--600: rgba(16, 59, 188, 1);
    --primary--700: rgba(12, 44, 141, 1);
    --primary--800: rgba(8, 30, 94, 1);
    --primary--900: rgba(4, 15, 47, 1);
    --primary--950: rgba(2, 7, 23, 1);
    --secondary--500: rgba(10, 114, 114, 1);
    --secondary--50: rgba(232, 253, 253, 1);
    --secondary--100: rgba(208, 251, 251, 1);
    --secondary--200: rgba(161, 247, 247, 1);
    --secondary--300: rgba(114, 243, 243, 1);
    --secondary--400: rgba(67, 239, 239, 1);
    --secondary--600: rgba(16, 188, 188, 1);
    --secondary--700: rgba(12, 141, 141, 1);
    --secondary--800: rgba(8, 94, 94, 1);
    --secondary--900: rgba(4, 47, 47, 1);
    --secondary--950: rgba(2, 23, 23, 1);
    --contrast--500: rgba(114, 10, 91, 1);
    --contrast--50: rgba(253, 232, 248, 1);
    --contrast--100: rgba(251, 208, 242, 1);
    --contrast--200: rgba(247, 161, 228, 1);
    --contrast--300: rgba(243, 114, 215, 1);
    --contrast--400: rgba(239, 67, 201, 1);
    --contrast--600: rgba(188, 16, 150, 1);
    --contrast--700: rgba(141, 12, 113, 1);
    --contrast--800: rgba(94, 8, 75, 1);
    --contrast--900: rgba(47, 4, 38, 1);
    --contrast--950: rgba(23, 2, 19, 1);
    --success: green;
    --error: red;

    /* Text-size styles */
    /* base size: mukta--body---extra-light (16px) */
    --mukta--body---extra-light: 1rem;
    --mukta--body---light: 1rem;
    --mukta--body---regular: 1rem;
    --mukta--body---medium: 1rem;
    --mukta--body---semi-bold: 1rem;
    --mukta--body---bold: 1rem;
    --mukta--body---extra-bold: 1rem;
    --mukta--h1---extra-light: 2rem;
    --mukta--h1---light: 2rem;
    --mukta--h1---regular: 2rem;
    --mukta--h1---medium: 2rem;
    --mukta--h1---semi-bold: 2rem;
    --mukta--h1---bold: 2rem;
    --mukta--h1---extra-bold: 2rem;
    --mukta--h2---extra-light: 1.75rem;
    --mukta--h2---light: 1.75rem;
    --mukta--h2---regular: 1.75rem;
    --mukta--h2---medium: 1.75rem;
    --mukta--h2---semi-bold: 1.75rem;
    --mukta--h2---bold: 1.75rem;
    --mukta--h2---extra-bold: 1.75rem;
    --mukta--h3---extra-light: 1.5rem;
    --mukta--h3---light: 1.5rem;
    --mukta--h3---regular: 1.5rem;
    --mukta--h3---medium: 1.5rem;
    --mukta--h3---semi-bold: 1.5rem;
    --mukta--h3---bold: 1.5rem;
    --mukta--h3---extra-bold: 1.5rem;
    --mukta--h4---extra-light: 1.25rem;
    --mukta--h4---light: 1.25rem;
    --mukta--h4---regular: 1.25rem;
    --mukta--h4---medium: 1.25rem;
    --mukta--h4---semi-bold: 1.25rem;
    --mukta--h4---bold: 1.25rem;
    --mukta--h4---extra-bold: 1.25rem;
    --mukta--h5---extra-light: 1.12rem;
    --mukta--h5---light: 1.12rem;
    --mukta--h5---regular: 1.12rem;
    --mukta--h5---medium: 1.12rem;
    --mukta--h5---semi-bold: 1.12rem;
    --mukta--h5---bold: 1.12rem;
    --mukta--h5---extra-bold: 1.12rem;
    --mukta--h6---extra-light: 1rem;
    --mukta--h6---light: 1rem;
    --mukta--h6---regular: 1rem;
    --mukta--h6---medium: 1rem;
    --mukta--h6---semi-bold: 1rem;
    --mukta--h6---bold: 1rem;
    --mukta--h6---extra-bold: 1rem;
    --mukta--captions---extra-light: 0.75rem;
    --mukta--captions---light: 0.75rem;
    --mukta--captions---regular: 0.75rem;
    --mukta--captions---medium: 0.75rem;
    --mukta--captions---semi-bold: 0.75rem;
    --mukta--captions---bold: 0.75rem;
    --mukta--captions---extra-bold: 0.75rem;
    --mukta--small---extra-light: 0.75rem;
    --mukta--small---light: 0.75rem;
    --mukta--small---regular: 0.75rem;
    --mukta--small---medium: 0.75rem;
    --mukta--small---semi-bold: 0.75rem;
    --mukta--small---bold: 0.75rem;
    --mukta--small---extra-bold: 0.75rem;
    --mukta--large---extra-light: 3rem;
    --mukta--large---light: 3rem;
    --mukta--large---regular: 3rem;
    --mukta--large---medium: 3rem;
    --mukta--large---semi-bold: 3rem;
    --mukta--large---bold: 3rem;
    --mukta--large---extra-bold: 3rem;
    --mukta--x-large---extra-light: 4rem;
    --mukta--x-large---light: 4rem;
    --mukta--x-large---regular: 4rem;
    --mukta--x-large---medium: 4rem;
    --mukta--x-large---semi-bold: 4rem;
    --mukta--x-large---bold: 4rem;
    --mukta--x-large---extra-bold: 4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: var(--mukta--body---regular);
    font-family: "Mukta", sans-serif;
}

main {
    height: 100vh;
}

/* Not Found Page */
#not-found {
    height: 100vh;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary--900);

    .cta {
        width: 20%;
        display: flex;
        gap: 5%;
        align-items: center;
        justify-content: center;

        .cta-btn {
            padding: 3% 10%;
            border-radius: 15px;
            border: 1px solid var(--primary--500);
            user-select: none;
        }

        :nth-child(2) {
            color: var(--white--500);
            background-color: var(--primary--500);
        }
    }

}

/* Landing Page */
#landing-page {
    color: var(--white--500);
    background-color: var(--primary--900);

    header {
        padding: 1%;
        display: flex;
        align-items: center;

        .title {
            flex-grow: 1;
            display: flex;
            gap: 2%;
            align-items: center;

            img {
                height: 40px;
            }

            p {
                font-size: 1.2rem;
                font-weight: 600;
            }
        }

        .cta {
            flex-grow: 1;
            display: flex;
            gap: 2%;
            align-items: center;
            justify-content: flex-end;

            .cta-btn {
                padding: 1% 3%;
            }
        }
    }

    .hero {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .tagline {
            font-size: 5rem;
            line-height: 1;
        }

        .subtitle {
            margin-top: 2%;
            opacity: 0.5;
        }

        .img-container {
            margin-top: 2%;
            position: relative;
            width: 70%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .gradient {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(rgba(0, 0, 0, 0.1), var(--primary--900));
            }
        }
    }
}

/* Signin / Signup Page */
.signin,
.signup {
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;

    .welcome {
        width: 50%;
        display: flex;
        gap: 3%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(#00114E, #00A9D4);

        .info {
            width: 70%;
            padding: 4%;
            color: var(--white--500);
            border-radius: 10px;
            background-color: #005C90;

            h1 {
                padding-left: 5%;
                margin-bottom: 3%;
                border-left: 2px solid var(--white--500);
                font-size: var(--mukta--large---bold);
            }

            p {
                padding-left: 5%;
            }
        }

        img {
            height: 40%;
        }
    }

    .signin-form,
    .signup-form {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        .signin-card,
        .signup-card {
            width: 70%;
            padding: 3%;
            border-radius: 10px;
            display: flex;
            gap: 20px;
            flex-direction: column;

            h1 {
                font-size: var(--mukta--h1---regular);
                font-weight: 500;
            }

            .prompt {
                text-align: left;
            }

            form {
                width: 100%;
                display: flex;
                gap: 16px;
                flex-direction: column;

                .name {
                    width: 100%;
                    display: flex;
                    gap: 3%;
                    align-items: center;

                    input {
                        flex-grow: 1;
                        padding: 5%;
                    }
                }

                .form-utilities {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    transition: background-color 0.3s ease, border 0.3s ease, transform 0.3s ease, opacity 0.3s ease;

                    .remember-me-option {
                        flex-grow: 1;
                        display: flex;
                        gap: 2%;
                        align-items: center;
                        justify-content: flex-start;

                        .switch {
                            height: 25px;
                            width: 50px;
                            display: flex;
                            align-items: center;
                            border-radius: 25px;
                            background-color: rgba(0, 0, 0, 0.1);
                            transition: background-color 0.3s ease, border 0.3s ease;

                            .switch-thumb {
                                margin-left: 2.5px;
                                height: 20px;
                                width: 20px;
                                border-radius: 20px;
                                background-color: var(--white--500);
                                transition: margin-left 0.3s ease, background-color 0.3s ease;
                            }
                        }
                    }

                    .active {
                        .switch {
                            background-color: var(--primary--100);

                            .switch-thumb {
                                margin-left: 27.5px;
                                background-color: var(--primary--400);
                            }
                        }

                        p {
                            opacity: 1;
                            color: var(--primary--500);
                        }
                    }

                    a {
                        text-decoration: none;
                        color: var(--primary--500);
                    }
                }

                button {
                    font-size: var(--mukta--body---bold);
                    margin-top: 1.5%;
                    padding: 2.5%;
                    border: none;
                    border-radius: 5px;
                    color: var(--white--500);
                    background-color: var(--primary--500);
                }
            }

            .signin-option,
            .signup-option {
                width: 100%;
                display: flex;
                gap: 20px;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .divider-text {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    hr {
                        flex-grow: 1;
                    }

                    span {
                        margin: 0 10px;
                    }
                }

                .options {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .option {
                        padding: 1%;
                        width: 48%;
                        display: flex;
                        gap: 2%;
                        align-items: center;
                        justify-content: flex-start;
                        border-radius: 5px;
                    }
                }
            }

            p {
                text-align: center;

                a {
                    text-decoration: none;
                    font-weight: bold;
                    color: var(--primary--500);
                }
            }
        }
    }
}

#discover {
    margin: 0 auto;
    width: 70%;

    .modal {
        height: 40vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .modal-close {
            top: 5%;
            right: 2%;
        }

        .heading {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .cta {
                width: 40%;
                display: flex;
                gap: 10px;
                align-items: center;

                button {
                    flex-grow: 1;
                    padding: 3%;
                    outline: none;
                    border: none;
                    border-radius: 10px;
                    background-color: var(--white--500);
                }

                .active {
                    color: var(--white--500);
                    background-color: var(--primary--900);
                }
            }
        }

        .select {
            padding: 0.5%;
            border-radius: 10px;
            border: none;

            .css-13cymwt-control,
            .css-t3ipsp-control {
                min-height: 10px;
                border: none;
                box-shadow: none;
            }
        }

        input {
            padding: 2%;
            outline: none;
            border: none;
            border-radius: 10px;
            font-size: 1rem;
        }

        .cta-group {
            width: 100%;
            display: flex;
            gap: 5%;
            align-items: center;

            button {
                flex-grow: 1;
                padding: 1.5%;
                outline: none;
                border: none;
                border-radius: 10px;
                background-color: var(--white--500);
                font-size: 1rem;

                &:last-child {
                    color: var(--white--500);
                    background-color: var(--primary--900);
                }
            }
        }
    }

    .hero {
        padding-top: 10%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;

        h1 {
            margin-bottom: 2%;
        }

        p {
            width: 80%;
            margin-bottom: 1%;
        }

        .cta {
            width: 50%;
            display: flex;
            gap: 5%;
            align-items: center;

            button {
                flex-grow: 1;
                padding: 2%;
                outline: none;
                border: none;
                border-radius: 10px;
                color: var(--white--500);
                background-color: var(--primary--900);
                font-size: 1rem;
            }

            button:first-child {
                color: var(--black);
                background-color: var(--white--500);
            }
        }
    }

    .card {
        padding: 2%;
        margin-bottom: 2%;
        border-radius: 20px;
        display: flex;
        gap: 10px;
        flex-direction: column;

        ul {
            list-style: none;

            li {
                display: flex;
                gap: 10px;
                align-items: center;
            }
        }

        &:nth-child(even) {
            color: var(--white--500);
            background-color: var(--primary--900);
        }
    }
}

#homepage {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--white-500);

    #menu {
        width: 15%;
        height: 100%;
        padding: 2% 1%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: var(--white--500);
        background-color: var(--primary--950);
        position: relative;

        .collapse-btn {
            height: 30px;
            width: 30px;
            color: var(--black);
            background-color: var(--white--500);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: -15px;
            top: 130px;

            svg {
                font-size: 1.5rem;
            }
        }

        .menu-title {
            display: flex;
            gap: 15px;
            align-items: center;
            justify-content: center;

            img {
                width: 40px;
            }

            p {
                font-size: 1.2rem;
            }
        }

        .menu-items {
            list-style: none;
            display: flex;
            gap: 10px;
            flex-direction: column;

            li {
                width: 100%;
                padding: 3%;
                padding-left: 10%;
                border-radius: 20px;
                display: flex;
                gap: 10px;
                align-items: center;
                font-size: 1.3rem;

                svg {
                    font-size: 1.5rem;
                }
            }

            li:hover,
            .active {
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px 2px 5px rgba(0, 0, 0, 0.3);
                color: var(--black);
                background-color: var(--white--500);
            }
        }
    }

    .collapsed {
        width: 5% !important;

        .menu-items {
            li {
                padding: 25% !important;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50% !important;
            }
        }
    }

    #content {
        width: 85%;
        padding: 1%;
        height: 100vh;

        #organization {
            height: 100%;

            .organization-heading {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .title {
                    color: var(--primary--500);
                }

                .cta {
                    width: 20%;
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    button {
                        flex-grow: 1;
                        outline: none;
                        border: none;
                        padding: 5%;
                        border-radius: 10px;
                        background-color: var(--white--500);
                        font-size: 1rem;
                        font-weight: 500;
                    }

                    .active,
                    button:hover {
                        color: var(--white--500);
                        background-color: var(--primary--900);
                    }
                }
            }

            .members {
                padding: 2%;

                .heading {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .members-list {
                    height: 64vh;
                    padding: 1%;
                    list-style: none;

                    li {
                        width: 100%;
                        padding: 5px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .modal {
                            width: 500px;
                            display: flex;
                            gap: 20px;
                            flex-direction: column;
                            justify-content: center;

                            .cta {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                h3 {
                                    color: var(--primary--500);
                                }

                                select {
                                    width: 30%;
                                    outline: none;
                                    border: none;
                                }
                            }

                            .member-info {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                .member-details {
                                    display: flex;
                                    gap: 10px;
                                    align-items: center;
                                }

                                .changed-role {
                                    color: var(--white--950);
                                    display: flex;
                                    gap: 10px;
                                    align-items: center;

                                    :nth-child(3) {
                                        color: var(--primary--500);
                                    }
                                }
                            }

                            .cta-buttons {
                                padding: 0 5%;
                                display: flex;
                                gap: 10%;
                                align-items: center;
                                justify-content: space-between;

                                button {
                                    flex-grow: 1;
                                    outline: none;
                                    border: none;
                                    padding: 2% 5%;
                                    border-radius: 10px;
                                    background-color: var(--white--100);
                                }

                                button:last-child {
                                    color: var(--white--500);
                                    background-color: var(--primary--900);
                                }
                            }
                        }

                        .member-info {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            img {
                                height: 30px;
                                width: 30px;
                                border-radius: 10px;
                            }

                            a {
                                text-decoration: none;
                                color: inherit;
                            }
                        }

                        .cta {
                            width: 15%;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;

                            .role {
                                width: 80%;
                                padding: 2% 5%;
                                border-radius: 5px;
                                background-color: var(--white--100);
                                text-align: center;
                            }

                            svg {
                                font-size: 1.3rem;
                            }
                        }

                        .authorized {
                            justify-content: space-between !important;

                            .role {
                                justify-content: space-between !important;
                            }
                        }
                    }

                    li:first-child {
                        border-top: 1px solid rgba(0, 0, 0, 0.1);
                    }

                    li:hover {
                        transform: scale(1.01);
                    }
                }
            }

            .requests {
                padding: 2%;

                .heading {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .requests-list {
                    height: 65vh;
                    padding: 1%;
                    list-style: none;

                    li {
                        width: 100%;
                        padding: 5px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .request-info {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            img {
                                height: 30px;
                                width: 30px;
                                border-radius: 10px;
                            }

                            a {
                                text-decoration: none;
                                color: inherit;
                            }
                        }

                        .cta {
                            width: 35%;
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            justify-content: flex-end;

                            .role {
                                padding: 1% 5%;
                                border-radius: 10px;
                                background-color: var(--white--100);
                            }

                            .role {
                                width: 40%;
                                text-align: center;
                            }

                            .cta-button {
                                padding: 1% 5%;
                                border-radius: 10px;
                                color: var(--success);
                                background-color: rgba($color: green, $alpha: 0.2);
                                display: flex;
                                gap: 5px;
                                align-items: center;
                            }

                            .cta-button:hover {
                                background-color: rgba($color: green, $alpha: 0.3);
                            }

                            .cta-button:last-child {
                                color: var(--error);
                                background-color: rgba($color: red, $alpha: 0.2);

                                svg {
                                    font-size: 1.2rem;
                                }
                            }

                            .cta-button:last-child:hover {
                                background-color: rgba($color: red, $alpha: 0.3);
                            }
                        }
                    }

                    li:first-child {
                        border-top: 1px solid rgba(0, 0, 0, 0.1);
                    }

                    li:hover {
                        transform: scale(1.01);
                    }
                }
            }
        }

        #teams {
            height: 100%;

            .modal {
                width: 50vw;
                display: flex;
                gap: 10px;
                flex-direction: column;

                .modal-close {
                    right: 3%;
                    top: 5%;
                    font-size: 1rem;
                }

                input {
                    padding: 2%;
                    width: 100%;
                    outline: none;
                    border: none;
                    border-radius: 10px;
                    font-size: 1rem;
                }

                .select {
                    padding: 0.5%;
                    border-radius: 10px;
                    border: none;

                    .css-13cymwt-control,
                    .css-t3ipsp-control {
                        min-height: 10px;
                        border: none;
                        box-shadow: none;
                    }
                }

                .cta {
                    margin-top: 2%;
                    width: 100%;
                    display: flex;
                    gap: 5%;
                    align-items: center;

                    button {
                        flex-grow: 1;
                        padding: 1.5%;
                        border: none;
                        outline: none;
                        border-radius: 10px;
                        background-color: var(--white--100);
                        font-size: 1rem;
                    }

                    button:last-child {
                        color: var(--white--500);
                        background-color: var(--primary--900);
                    }
                }
            }

            .heading {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .cta {
                    width: 15%;
                    border: none;
                    outline: none;
                    padding: 0.8%;
                    border-radius: 10px;
                    color: var(--white--500);
                    background-color: var(--primary--900);
                    font-size: 1rem;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;

                    svg {
                        font-size: 1.2rem;
                    }
                }
            }

            .teams-list {
                list-style: none;
                padding: 2%;

                .team-list-headings {
                    padding: 0.5%;
                    border-radius: 10px;
                    color: var(--white--500);
                    background-color: var(--primary--900);
                    font-size: 1.2rem;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

                    p {
                        padding: 1%;
                        text-align: center;
                    }
                }

                .team-list-items {
                    margin-top: 1%;
                    padding: 0 1%;
                    height: 65vh;

                    .team-list-info {
                        padding: 0.5%;
                        border-radius: 10px;
                        position: relative;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

                        .modal {
                            height: 50vh;
                            width: 40vw;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: space-between;

                            .modal-close {
                                right: 3%;
                                top: 6%;
                                font-size: 1rem;
                            }

                            a {
                                text-decoration: none;
                                color: inherit;
                            }

                            .team-lead {
                                width: 100%;

                                .team-lead-details {
                                    width: 100%;
                                    display: flex;
                                    gap: 10px;
                                    align-items: center;
                                }
                            }

                            .developers,
                            .testers {
                                width: 100%;

                                .developers-list,
                                .testers-list {
                                    list-style: none;

                                    li {
                                        display: flex;
                                        gap: 10px;
                                        align-items: center;
                                    }
                                }
                            }
                        }

                        .team-list-info-item {
                            padding: 1%;
                            text-align: center;
                        }

                        svg {
                            position: absolute;
                            right: 1%;
                            top: 50%;
                            transform: translateY(-50%);
                            font-size: 1.5rem;
                        }
                    }

                    .team-list-info:nth-child(even) {
                        background-color: var(--white--100);
                    }
                }
            }
        }

        #projects {
            height: 100%;

            .modal {
                width: 50vw;
                display: flex;
                gap: 10px;
                flex-direction: column;

                .modal-close {
                    right: 3%;
                    top: 5%;
                    font-size: 1rem;
                }

                .heading {
                    width: 95%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .cta {
                        padding: 0;
                        margin: 0;
                        height: 100%;
                        width: 40%;
                        background-color: inherit;

                        button {
                            padding: 3%;
                        }
                    }
                }

                input,
                textarea {
                    padding: 2%;
                    width: 100%;
                    outline: none;
                    border: none;
                    border-radius: 10px;
                    font-size: 1rem;
                }

                .select {
                    padding: 0.5%;
                    border-radius: 10px;
                    border: none;

                    .css-13cymwt-control,
                    .css-t3ipsp-control {
                        min-height: 10px;
                        border: none;
                        box-shadow: none;
                    }
                }

                .cta {
                    margin-top: 2%;
                    width: 100%;
                    display: flex;
                    gap: 5%;
                    align-items: center;

                    button {
                        flex-grow: 1;
                        padding: 1.5%;
                        border: none;
                        outline: none;
                        border-radius: 10px;
                        background-color: var(--white--100);
                        font-size: 1rem;
                    }

                    button:last-child {
                        color: var(--white--500);
                        background-color: var(--primary--900);
                    }
                }
            }

            .heading {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .cta {
                    width: 15%;
                    border: none;
                    outline: none;
                    padding: 0.8%;
                    border-radius: 10px;
                    color: var(--white--500);
                    background-color: var(--primary--900);
                    font-size: 1rem;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;

                    svg {
                        font-size: 1.2rem;
                    }
                }
            }

            .projects-list {
                margin-top: 2%;
                padding: 2%;
                height: 70vh;
                list-style: none;
                display: flex;
                row-gap: 5%;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-evenly;

                .project-info {
                    padding: 1%;
                    width: 30%;
                    height: 50%;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .modal {
                        height: 60vh;
                        width: 50vw;
                        color: var(--black);

                        .sub-modal {
                            justify-content: space-evenly;
                            height: 25vh;
                            width: 40vw;
                            z-index: 9999;

                            .modal-close {
                                top: 8%;
                            }

                            .select {
                                padding: 0.5%;
                                border-radius: 10px;
                                border: none;

                                .css-13cymwt-control,
                                .css-t3ipsp-control {
                                    min-height: 10px;
                                    border: none;
                                    box-shadow: none;
                                }
                            }
                        }

                        .modal-close {
                            top: 5%;
                            right: 2.5%;
                        }

                        .project-manager {
                            gap: 5px;
                            flex-direction: column;
                            align-items: flex-start;

                            .project-manager-details {
                                gap: 10px;
                                flex-direction: row;
                                align-items: center;

                                a {
                                    text-decoration: none;
                                    color: inherit;
                                }
                            }
                        }

                        .teams {
                            .teams-list-headings {
                                padding: 0.5%;
                                width: 100%;
                                display: grid;
                                grid-template-columns: 1fr 1fr 1fr;
                                text-align: center;
                                border-radius: 5px;
                                color: var(--white--500);
                                background-color: var(--primary--900);
                            }

                            ul {
                                margin-top: 1%;
                                height: 6vh;
                                list-style: none;

                                li {
                                    width: 100%;
                                    display: grid;
                                    grid-template-columns: 1fr 1fr 1fr;
                                    text-align: center;
                                    border-radius: 5px;
                                }

                                li:nth-child(even) {
                                    background-color: var(--white--100);
                                }
                            }
                        }
                    }

                    .description {
                        display: inline-block;
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .date,
                    .budget {
                        display: flex;
                        gap: 10px;
                        align-items: center;
                    }

                    .project-manager {
                        display: flex;
                        gap: 10px;
                        align-items: center;

                        img {
                            height: 30px;
                            width: 30px;
                            border-radius: 10px;
                        }

                        .project-manager-details {
                            display: flex;
                            flex-direction: column;

                            a {
                                text-decoration: none;
                                color: inherit;
                                font-size: small;
                            }
                        }
                    }
                }

                .project-info:nth-child(even) {
                    color: var(--white--500);
                    background-color: var(--primary--900);
                }
            }
        }
    }

    .expanded {
        width: 95% !important;
    }
}