@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
/* Color styles */
/* Text-size styles */
/* base size: mukta--body--extra-light (16px) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-family: "Mukta", sans-serif;
}

main {
  height: 100vh;
}

/* Not Found Page */
#not-found {
  height: 100vh;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(4, 15, 47);
}
#not-found .cta {
  width: 20%;
  display: flex;
  gap: 5%;
  align-items: center;
  justify-content: center;
}
#not-found .cta .cta-btn {
  padding: 3% 10%;
  border-radius: 15px;
  border: 1px solid rgb(10, 36, 114);
  user-select: none;
}
#not-found .cta :nth-child(2) {
  color: rgb(255, 255, 255);
  background-color: rgb(10, 36, 114);
}

/* Landing Page */
#landing-page {
  color: rgb(255, 255, 255);
  background-color: rgb(4, 15, 47);
}
#landing-page header {
  padding: 1%;
  display: flex;
  align-items: center;
}
#landing-page header .title {
  flex-grow: 1;
  display: flex;
  gap: 2%;
  align-items: center;
}
#landing-page header .title img {
  height: 40px;
}
#landing-page header .title p {
  font-size: 1.2rem;
  font-weight: 600;
}
#landing-page header .cta {
  flex-grow: 1;
  display: flex;
  gap: 2%;
  align-items: center;
  justify-content: flex-end;
}
#landing-page header .cta .cta-btn {
  padding: 1% 3%;
}
#landing-page .hero {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#landing-page .hero .tagline {
  font-size: 5rem;
  line-height: 1;
}
#landing-page .hero .subtitle {
  margin-top: 2%;
  opacity: 0.5;
}
#landing-page .hero .img-container {
  margin-top: 2%;
  position: relative;
  width: 70%;
  overflow: hidden;
}
#landing-page .hero .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#landing-page .hero .img-container .gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgb(4, 15, 47));
}

/* Signin / Signup Page */
.auth-container {
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.auth-container #welcome {
  width: 50%;
  display: flex;
  gap: 3%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#00114E, #00A9D4);
}
.auth-container #welcome .info {
  width: 70%;
  padding: 4%;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  background-color: #005C90;
}
.auth-container #welcome .info h1 {
  padding-left: 5%;
  margin-bottom: 3%;
  border-left: 2px solid rgb(255, 255, 255);
  font-size: 3rem;
}
.auth-container #welcome .info p {
  padding-left: 5%;
}
.auth-container #welcome img {
  height: 40%;
}
.auth-container .auth-form {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-container .auth-form .auth-card {
  width: 70%;
  padding: 3%;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.auth-container .auth-form .auth-card h1 {
  font-size: 2rem;
  font-weight: 500;
}
.auth-container .auth-form .auth-card .prompt {
  text-align: left;
}
.auth-container .auth-form .auth-card form {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.auth-container .auth-form .auth-card form .name {
  width: 100%;
  display: flex;
  gap: 3%;
  align-items: center;
}
.auth-container .auth-form .auth-card form .name input {
  flex-grow: 1;
  padding: 5%;
}
.auth-container .auth-form .auth-card form input,
.auth-container .auth-form .auth-card form textarea {
  width: 100%;
  padding: 2.5%;
  outline: none;
  border: none;
  border-radius: 5px;
}
.auth-container .auth-form .auth-card form .form-utilities {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease, border 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}
.auth-container .auth-form .auth-card form .form-utilities .remember-me-option {
  flex-grow: 1;
  display: flex;
  gap: 2%;
  align-items: center;
  justify-content: flex-start;
}
.auth-container .auth-form .auth-card form .form-utilities .remember-me-option .switch {
  height: 25px;
  width: 50px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, border 0.3s ease;
}
.auth-container .auth-form .auth-card form .form-utilities .remember-me-option .switch .switch-thumb {
  margin-left: 2.5px;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  transition: margin-left 0.3s ease, background-color 0.3s ease;
}
.auth-container .auth-form .auth-card form .form-utilities .active .switch {
  background-color: rgb(208, 219, 251);
}
.auth-container .auth-form .auth-card form .form-utilities .active .switch .switch-thumb {
  margin-left: 27.5px;
  background-color: rgb(67, 110, 239);
}
.auth-container .auth-form .auth-card form .form-utilities .active p {
  opacity: 1;
  color: rgb(10, 36, 114);
}
.auth-container .auth-form .auth-card form .form-utilities a {
  text-decoration: none;
  color: rgb(10, 36, 114);
}
.auth-container .auth-form .auth-card form button {
  font-size: 1rem;
  margin-top: 1.5%;
  padding: 2.5%;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(10, 36, 114);
}
.auth-container .auth-form .auth-card .auth-options {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auth-container .auth-form .auth-card .auth-options .divider-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-container .auth-form .auth-card .auth-options .divider-text hr {
  flex-grow: 1;
}
.auth-container .auth-form .auth-card .auth-options .divider-text span {
  margin: 0 10px;
}
.auth-container .auth-form .auth-card .auth-options .options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-container .auth-form .auth-card .auth-options .options .option {
  padding: 1%;
  width: 48%;
  display: flex;
  gap: 2%;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.auth-container .auth-form .auth-card p {
  text-align: center;
}
.auth-container .auth-form .auth-card p a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(10, 36, 114);
}

#discover {
  margin: 0 auto;
  width: 70%;
}
#discover .hero {
  padding-top: 10%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
}
#discover .hero h1 {
  margin-bottom: 2%;
}
#discover .hero .description {
  width: 80%;
  margin-bottom: 1%;
}
#discover .hero .cta {
  width: 50%;
  display: flex;
  gap: 5%;
  align-items: center;
}
#discover .hero .cta button {
  flex-grow: 1;
  padding: 2%;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}
#discover .hero form {
  margin: 2% 0;
  padding: 2%;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
#discover .hero form .input-field input {
  padding: 1%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}
#discover .hero form .input-field .select {
  width: 100%;
}
#discover .hero form button {
  padding: 1%;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 1rem;
}
#discover .card {
  padding: 2%;
  margin-bottom: 2%;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
#discover .card ul {
  list-style: none;
}
#discover .card ul li {
  display: flex;
  gap: 10px;
  align-items: center;
}
#discover .card:nth-child(even) {
  color: rgb(255, 255, 255);
  background-color: rgb(4, 15, 47);
}

#menu {
  width: 15%;
  height: 100%;
  padding: 2% 1% 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  background-color: rgb(4, 15, 47);
  position: relative;
}
#menu .collapse-btn {
  height: 30px;
  width: 30px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -15px;
  top: 130px;
  z-index: 100;
}
#menu .collapse-btn svg {
  font-size: 1.5rem;
}
#menu .menu-title {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
#menu .menu-title img {
  width: 40px;
}
#menu .menu-title p {
  font-size: 1.2rem;
}
#menu .menu-items {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
#menu .menu-items li {
  width: 100%;
  padding: 3%;
  padding-left: 10%;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 1.3rem;
}
#menu .menu-items li svg {
  font-size: 1.5rem;
}
#menu .menu-items li:hover,
#menu .menu-items .active {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px 2px 5px rgba(0, 0, 0, 0.3);
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
#menu .menu-user-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu .menu-user-settings .profile {
  width: 100%;
  padding: 3%;
  padding-left: 10%;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 1.3rem;
}
#menu .menu-user-settings .profile .profile-img {
  height: 25px;
  width: 25px;
}
#menu .menu-user-settings .logout {
  width: 100%;
  padding: 3%;
  padding-left: 10%;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 1.3rem;
  color: red;
}
#menu .menu-user-settings .logout svg {
  font-size: 1.5rem;
  font-weight: 700;
}
#menu .menu-user-settings .profile:hover,
#menu .menu-user-settings .logout:hover,
#menu .menu-user-settings .active {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px 2px 5px rgba(0, 0, 0, 0.3);
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
#menu .menu-user-settings .logout:hover {
  color: red;
}

#dashboard,
#organization,
#teams,
#create-team,
#team-details,
#projects,
#create-project,
#project-details,
#tasks,
#create-task,
#update-task,
#chats,
#profile {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
#dashboard .content,
#organization .content,
#teams .content,
#create-team .content,
#team-details .content,
#projects .content,
#create-project .content,
#project-details .content,
#tasks .content,
#create-task .content,
#update-task .content,
#chats .content,
#profile .content {
  width: 85%;
  padding: 1%;
  height: 100vh;
}
#dashboard .collapsed,
#organization .collapsed,
#teams .collapsed,
#create-team .collapsed,
#team-details .collapsed,
#projects .collapsed,
#create-project .collapsed,
#project-details .collapsed,
#tasks .collapsed,
#create-task .collapsed,
#update-task .collapsed,
#chats .collapsed,
#profile .collapsed {
  width: 5% !important;
}
#dashboard .collapsed .menu-items li,
#organization .collapsed .menu-items li,
#teams .collapsed .menu-items li,
#create-team .collapsed .menu-items li,
#team-details .collapsed .menu-items li,
#projects .collapsed .menu-items li,
#create-project .collapsed .menu-items li,
#project-details .collapsed .menu-items li,
#tasks .collapsed .menu-items li,
#create-task .collapsed .menu-items li,
#update-task .collapsed .menu-items li,
#chats .collapsed .menu-items li,
#profile .collapsed .menu-items li {
  padding: 25% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50% !important;
}
#dashboard .collapsed .menu-user-settings .profile,
#dashboard .collapsed .menu-user-settings .logout,
#organization .collapsed .menu-user-settings .profile,
#organization .collapsed .menu-user-settings .logout,
#teams .collapsed .menu-user-settings .profile,
#teams .collapsed .menu-user-settings .logout,
#create-team .collapsed .menu-user-settings .profile,
#create-team .collapsed .menu-user-settings .logout,
#team-details .collapsed .menu-user-settings .profile,
#team-details .collapsed .menu-user-settings .logout,
#projects .collapsed .menu-user-settings .profile,
#projects .collapsed .menu-user-settings .logout,
#create-project .collapsed .menu-user-settings .profile,
#create-project .collapsed .menu-user-settings .logout,
#project-details .collapsed .menu-user-settings .profile,
#project-details .collapsed .menu-user-settings .logout,
#tasks .collapsed .menu-user-settings .profile,
#tasks .collapsed .menu-user-settings .logout,
#create-task .collapsed .menu-user-settings .profile,
#create-task .collapsed .menu-user-settings .logout,
#update-task .collapsed .menu-user-settings .profile,
#update-task .collapsed .menu-user-settings .logout,
#chats .collapsed .menu-user-settings .profile,
#chats .collapsed .menu-user-settings .logout,
#profile .collapsed .menu-user-settings .profile,
#profile .collapsed .menu-user-settings .logout {
  padding: 25% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50% !important;
}
#dashboard .expanded,
#organization .expanded,
#teams .expanded,
#create-team .expanded,
#team-details .expanded,
#projects .expanded,
#create-project .expanded,
#project-details .expanded,
#tasks .expanded,
#create-task .expanded,
#update-task .expanded,
#chats .expanded,
#profile .expanded {
  width: 95% !important;
}

#dashboard .content {
  display: flex;
  flex-direction: column;
}
#dashboard .content .select-options {
  margin: 1% 2%;
  display: flex;
  gap: 2%;
  align-items: center;
}
#dashboard .content .select-options .select {
  flex-grow: 1;
}
#dashboard .content .charts {
  flex-grow: 1;
  padding: 1%;
  width: 100%;
  row-gap: 10%;
  display: flex;
  flex-wrap: wrap;
}
#dashboard .content .charts .organization-workload {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#dashboard .content .charts .priority-distribution {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#dashboard .content .charts .status-distribution,
#dashboard .content .charts .project-workload,
#dashboard .content .charts .team-expertise {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#organization .content .organization-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#organization .content .organization-heading .title {
  color: rgb(10, 36, 114);
}
#organization .content .organization-heading .cta {
  width: 20%;
  display: flex;
  gap: 10px;
  align-items: center;
}
#organization .content .organization-heading .cta button {
  flex-grow: 1;
  outline: none;
  border: none;
  padding: 5%;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 500;
}
#organization .content .organization-heading .cta button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(4, 15, 47);
}
#organization .content .members {
  padding: 2%;
}
#organization .content .members .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#organization .content .members .members-list {
  height: 70vh;
  margin: 1%;
}
#organization .content .members .members-list li {
  height: 10%;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#organization .content .members .members-list li .member-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
#organization .content .members .members-list li .member-info a {
  text-decoration: none;
  color: inherit;
}
#organization .content .members .members-list li .cta {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#organization .content .members .members-list li .cta .role {
  width: 80%;
  padding: 2% 5%;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
  text-align: center;
}
#organization .content .members .members-list li .cta svg {
  font-size: 1.3rem;
}
#organization .content .members .members-list li .authorized {
  justify-content: space-between !important;
}
#organization .content .members .members-list li .authorized .role {
  justify-content: space-between !important;
}
#organization .content .members .members-list li:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
#organization .content .members .members-list li:hover {
  transform: scale(1.01);
}
#organization .content .requests {
  padding: 2%;
}
#organization .content .requests .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#organization .content .requests .heading div {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#organization .content .requests .requests-list {
  height: 70vh;
  margin: 1%;
}
#organization .content .requests .requests-list li {
  height: 10%;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#organization .content .requests .requests-list li .request-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
#organization .content .requests .requests-list li .request-info a {
  text-decoration: none;
  color: inherit;
}
#organization .content .requests .requests-list li .cta {
  width: 35%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}
#organization .content .requests .requests-list li .cta .role {
  padding: 1% 5%;
  border-radius: 10px;
  background-color: rgb(230, 230, 230);
}
#organization .content .requests .requests-list li .cta .role {
  width: 40%;
  text-align: center;
}
#organization .content .requests .requests-list li .cta .cta-button {
  padding: 1% 5%;
  border-radius: 10px;
  color: green;
  background-color: rgba(0, 128, 0, 0.2);
  display: flex;
  gap: 5px;
  align-items: center;
}
#organization .content .requests .requests-list li .cta .cta-button:hover {
  background-color: rgba(0, 128, 0, 0.3);
}
#organization .content .requests .requests-list li .cta .cta-button:last-child {
  color: red;
  background-color: rgba(255, 0, 0, 0.2);
}
#organization .content .requests .requests-list li .cta .cta-button:last-child svg {
  font-size: 1.2rem;
}
#organization .content .requests .requests-list li .cta .cta-button:last-child:hover {
  background-color: rgba(255, 0, 0, 0.3);
}
#organization .content .requests .requests-list li:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
#organization .content .requests .requests-list li:hover {
  transform: scale(1.01);
}

#teams .content .teams-list {
  list-style: none;
  padding: 2%;
}
#teams .content .teams-list .teams-list-headings {
  padding: 0.5% 1%;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(4, 15, 47);
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#teams .content .teams-list .teams-list-headings p {
  padding: 1%;
  text-align: center;
}
#teams .content .teams-list .teams-list-items {
  padding: 1%;
  height: 65vh;
}
#teams .content .teams-list .teams-list-items .teams-list-info {
  height: 10%;
  border-radius: 10px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}
#teams .content .teams-list .teams-list-items .teams-list-info .teams-list-info-item {
  padding: 1%;
  text-align: center;
}
#teams .content .teams-list .teams-list-items .teams-list-info:nth-child(odd) {
  box-shadow: none !important;
}
#teams .content .teams-list .teams-list-items .teams-list-info:nth-child(even) {
  background-color: rgb(230, 230, 230);
}

#team-details .content {
  position: relative;
  display: flex;
  align-items: center;
}
#team-details .content .information {
  margin-top: 5%;
  padding: 2% 5%;
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#team-details .content .information .team-lead .team-lead-details {
  display: flex;
  gap: 20px;
  align-items: center;
}
#team-details .content .information .team-lead .team-lead-details a {
  text-decoration: none;
  color: inherit;
}
#team-details .content .information .developers .list,
#team-details .content .information .testers .list {
  list-style: none;
  max-height: 25vh;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#team-details .content .information .developers .list li,
#team-details .content .information .testers .list li {
  height: 20%;
  display: flex;
  gap: 20px;
  align-items: center;
}
#team-details .content .information .developers .list li a,
#team-details .content .information .testers .list li a {
  text-decoration: none;
  color: inherit;
}

#projects .content .projects-list {
  margin-top: 2%;
  padding: 2%;
  height: 80vh;
  list-style: none;
  display: flex;
  row-gap: 5%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
#projects .content .projects-list .project-info {
  padding: 2%;
  width: 30%;
  height: 48%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#projects .content .projects-list .project-info .project-manager {
  display: flex;
  gap: 10px;
  align-items: center;
}
#projects .content .projects-list .project-info .project-manager .project-manager-details {
  gap: 10px;
  flex-direction: row;
  align-items: center;
}
#projects .content .projects-list .project-info .project-manager .project-manager-details a {
  text-decoration: none;
  color: inherit;
}
#projects .content .projects-list .project-info .teams .teams-list-headings {
  padding: 0.5%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(4, 15, 47);
}
#projects .content .projects-list .project-info .teams ul {
  margin-top: 1%;
  height: 6vh;
  list-style: none;
}
#projects .content .projects-list .project-info .teams ul li {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  border-radius: 5px;
}
#projects .content .projects-list .project-info .teams ul li:nth-child(even) {
  background-color: rgb(230, 230, 230);
}
#projects .content .projects-list .description {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#projects .content .projects-list .date,
#projects .content .projects-list .budget {
  display: flex;
  gap: 10px;
  align-items: center;
}
#projects .content .projects-list .project-manager {
  display: flex;
  gap: 10px;
  align-items: center;
}
#projects .content .projects-list .project-manager .project-manager-details {
  display: flex;
  flex-direction: column;
}
#projects .content .projects-list .project-manager .project-manager-details a {
  text-decoration: none;
  color: inherit;
  font-size: small;
}
#projects .content .project-info:nth-child(even) {
  color: rgb(255, 255, 255);
  background-color: rgb(4, 15, 47);
}

#project-details .content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#project-details .content .information {
  margin-top: 5%;
  padding: 2% 5%;
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#project-details .content .information .date,
#project-details .content .information .budget {
  display: flex;
  gap: 10px;
  align-items: center;
}
#project-details .content .information .project-manager .project-manager-details {
  display: flex;
  gap: 10px;
  align-items: center;
}
#project-details .content .information .project-manager .project-manager-details a {
  text-decoration: none;
  color: inherit;
}
#project-details .content .information .teams .cta {
  padding: 1%;
  width: 100%;
  display: flex;
  gap: 2%;
  align-items: center;
  justify-content: space-between;
}
#project-details .content .information .teams .cta .select {
  flex-grow: 1;
}
#project-details .content .information .teams .cta button {
  width: 20%;
  padding: 1% 0;
  outline: none;
  border: none;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
#project-details .content .information .teams .cta button p {
  font-size: 1.2rem;
}
#project-details .content .information .teams .cta button svg {
  font-size: 1.5rem;
}
#project-details .content .information .teams .teams-list {
  list-style: none;
}
#project-details .content .information .teams .teams-list .teams-list-headings {
  padding: 0.5%;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(4, 15, 47);
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#project-details .content .information .teams .teams-list .teams-list-headings p {
  padding: 1%;
  text-align: center;
}
#project-details .content .information .teams .teams-list .teams-list-items {
  height: 20vh;
}
#project-details .content .information .teams .teams-list .teams-list-items .teams-list-info {
  height: 20%;
  border-radius: 10px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}
#project-details .content .information .teams .teams-list .teams-list-items .teams-list-info .teams-list-info-item {
  text-align: center;
}
#project-details .content .information .teams .teams-list .teams-list-items .teams-list-info svg {
  position: absolute;
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
}
#project-details .content .information .teams .teams-list .teams-list-items .teams-list-info:nth-child(odd) {
  box-shadow: none !important;
}
#project-details .content .information .teams .teams-list .teams-list-items .teams-list-info:nth-child(even) {
  background-color: rgb(230, 230, 230);
}
#project-details .content .information .tasks {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#tasks .content {
  display: flex;
  flex-direction: column;
}
#tasks .content .heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#tasks .content .heading h2 {
  color: rgb(10, 36, 114);
}
#tasks .content .heading .task-options {
  width: 75%;
  display: flex;
  gap: 5%;
  align-items: center;
  justify-content: flex-end;
}
#tasks .content .heading .task-options .select {
  width: 40%;
  padding: 0.5%;
}
#tasks .content .heading .task-options .view-options {
  width: 60%;
  justify-self: flex-end;
  display: flex;
  gap: 4%;
  align-items: center;
  justify-content: flex-end;
}
#tasks .content .heading .task-options .view-options button {
  width: 48%;
  padding: 2% 0;
  border: none;
  outline: none;
  border-radius: 10px;
  display: flex;
  gap: 5%;
  align-items: center;
  justify-content: center;
}
#tasks .content .heading .task-options .view-options button svg {
  font-size: 1.5rem;
}
#tasks .content .heading .task-options .view-options button p {
  font-size: 1.2rem;
}
#tasks .content .heading .task-options .cta {
  width: 30%;
  padding: 1% 0;
  border: none;
  outline: none;
  border-radius: 10px;
  display: flex;
  gap: 5%;
  align-items: center;
  justify-content: center;
}
#tasks .content .heading .task-options .cta svg {
  font-size: 1.5rem;
}
#tasks .content .heading .task-options .cta p {
  font-size: 1.2rem;
}
#tasks .content .task-container {
  height: 90%;
  padding: 0 1%;
}
#tasks .content .task-container .gantt-chart-container {
  height: 100%;
  display: flex;
  gap: 2%;
  flex-direction: column;
}
#tasks .content .task-container .gantt-chart-container .select {
  align-self: flex-end;
  width: 15%;
  padding: 0.2% !important;
}
#tasks .content .task-container .gantt-chart-container .gantt-chart {
  height: 100%;
}
#tasks .content .task-container .gantt-chart-container .hide-add-column .gantt_add,
#tasks .content .task-container .gantt-chart-container .hide-add-column .gantt_grid_head_add {
  display: none !important;
}
#tasks .content .task-container .kanban-board-container {
  height: 100%;
  padding: 1% 0;
  display: flex;
  gap: 2%;
  align-items: center;
  justify-content: center;
}
#tasks .content .task-container .kanban-board-container .kanban-column {
  height: 100%;
  width: 32%;
  border-radius: 10px;
  padding: 1%;
  display: flex;
  flex-direction: column;
}
#tasks .content .task-container .kanban-board-container .kanban-column h2 {
  text-align: center;
}
#tasks .content .task-container .kanban-board-container .kanban-column:first-child {
  background-color: rgb(250, 204, 21);
}
#tasks .content .task-container .kanban-board-container .kanban-column:nth-child(2) {
  background-color: rgb(59, 130, 246);
}
#tasks .content .task-container .kanban-board-container .kanban-column:last-child {
  background-color: rgb(34, 197, 94);
}
#tasks .content .task-container .kanban-board-container .kanban-column .tasks {
  height: 100%;
  margin-top: 2%;
  display: flex;
  gap: 1%;
  flex-direction: column;
}
#tasks .content .task-container .kanban-board-container .kanban-column .tasks .kanban-task {
  width: 100%;
  padding: 3%;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
#tasks .content .task-container .kanban-board-container .kanban-column .tasks .kanban-task .description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#tasks .content .task-container .kanban-board-container .kanban-column .tasks .kanban-task .task-meta-group {
  display: flex;
  gap: 10px;
  align-items: center;
}
#tasks .content .task-container .kanban-board-container .kanban-column .tasks .kanban-task .task-meta-group .priority-low {
  color: rgb(37, 99, 235);
}
#tasks .content .task-container .kanban-board-container .kanban-column .tasks .kanban-task .task-meta-group .priority-normal {
  color: rgb(202, 138, 4);
}
#tasks .content .task-container .kanban-board-container .kanban-column .tasks .kanban-task .task-meta-group .priority-high {
  color: rgb(220, 38, 38);
}
#tasks .content .task-container .kanban-board-container .kanban-column .tasks .kanban-task .task-meta-group .level-beginner {
  color: rgb(56, 189, 248);
}
#tasks .content .task-container .kanban-board-container .kanban-column .tasks .kanban-task .task-meta-group .level-intermediate {
  color: rgb(59, 130, 246);
}
#tasks .content .task-container .kanban-board-container .kanban-column .tasks .kanban-task .task-meta-group .level-expert {
  color: rgb(126, 34, 206);
}

#teams .content .heading,
#projects .content .heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(10, 36, 114);
}
#teams .content .heading .cta,
#projects .content .heading .cta {
  width: 15%;
  border: none;
  outline: none;
  padding: 0.8%;
  border-radius: 10px;
  font-size: 1rem;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
#teams .content .heading .cta svg,
#projects .content .heading .cta svg {
  font-size: 1.2rem;
}

#create-team .content,
#create-project .content,
#create-task .content,
#update-task .content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#create-team .content form,
#create-project .content form,
#create-task .content form,
#update-task .content form {
  height: 100%;
  width: 80%;
  margin-top: 2%;
  padding: 0 1%;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#create-team .content form h1,
#create-project .content form h1,
#create-task .content form h1,
#update-task .content form h1 {
  font-size: 2rem;
}
#create-team .content form .input-field input,
#create-team .content form .input-field textarea,
#create-project .content form .input-field input,
#create-project .content form .input-field textarea,
#create-task .content form .input-field input,
#create-task .content form .input-field textarea,
#update-task .content form .input-field input,
#update-task .content form .input-field textarea {
  padding: 1%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}
#create-team .content form .input-field .select,
#create-project .content form .input-field .select,
#create-task .content form .input-field .select,
#update-task .content form .input-field .select {
  width: 100%;
}
#create-team .content form .date-duration-group,
#create-team .content form .task-meta-group,
#create-project .content form .date-duration-group,
#create-project .content form .task-meta-group,
#create-task .content form .date-duration-group,
#create-task .content form .task-meta-group,
#update-task .content form .date-duration-group,
#update-task .content form .task-meta-group {
  width: 100%;
  display: flex;
  gap: 2%;
  align-items: center;
}
#create-team .content form .date-duration-group .input-field,
#create-team .content form .task-meta-group .input-field,
#create-project .content form .date-duration-group .input-field,
#create-project .content form .task-meta-group .input-field,
#create-task .content form .date-duration-group .input-field,
#create-task .content form .task-meta-group .input-field,
#update-task .content form .date-duration-group .input-field,
#update-task .content form .task-meta-group .input-field {
  flex-grow: 1;
}
#create-team .content form .date-duration-group .input-field input,
#create-team .content form .task-meta-group .input-field input,
#create-project .content form .date-duration-group .input-field input,
#create-project .content form .task-meta-group .input-field input,
#create-task .content form .date-duration-group .input-field input,
#create-task .content form .task-meta-group .input-field input,
#update-task .content form .date-duration-group .input-field input,
#update-task .content form .task-meta-group .input-field input {
  padding: 2%;
}
#create-team .content form .date-duration-group .input-field .select,
#create-team .content form .task-meta-group .input-field .select,
#create-project .content form .date-duration-group .input-field .select,
#create-project .content form .task-meta-group .input-field .select,
#create-task .content form .date-duration-group .input-field .select,
#create-task .content form .task-meta-group .input-field .select,
#update-task .content form .date-duration-group .input-field .select,
#update-task .content form .task-meta-group .input-field .select {
  padding: 1.5%;
}
#create-team .content form .cta,
#create-project .content form .cta,
#create-task .content form .cta,
#update-task .content form .cta {
  margin-top: 2%;
  width: 100%;
  display: flex;
  gap: 5%;
  align-items: center;
}
#create-team .content form .cta button,
#create-project .content form .cta button,
#create-task .content form .cta button,
#update-task .content form .cta button {
  flex-grow: 1;
  padding: 1%;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: rgb(230, 230, 230);
  font-size: 1.2rem;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
#create-team .content form .cta button:nth-child(2),
#create-project .content form .cta button:nth-child(2),
#create-task .content form .cta button:nth-child(2),
#update-task .content form .cta button:nth-child(2) {
  color: rgb(255, 255, 255);
  background-color: red;
}

#chats .content .chat-context {
  width: 100%;
  display: flex;
  align-items: center;
}
#chats .content .chat-context .select {
  width: 30%;
}
#chats .content .chat-context .chat-options {
  width: 50%;
  margin-left: auto;
  display: flex;
  gap: 5%;
  align-items: center;
  justify-content: flex-end;
}
#chats .content .chat-context .chat-options button {
  width: 30%;
  padding: 1.5% 0;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
}
#chats .content .chat-board {
  height: 85vh;
  margin: 2% 1%;
  padding: 1% 1%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
#chats .content .chat-board .messages {
  flex-grow: 1;
  padding: 1%;
  display: flex;
  flex-direction: column;
  gap: 2%;
}
#chats .content .chat-board .messages .message {
  display: flex;
  gap: 10px;
  align-items: center;
}
#chats .content .chat-board .messages .message .profile-img {
  align-self: flex-start;
}
#chats .content .chat-board .messages .message .message-content {
  max-width: 70%;
  padding: 0.5% 1%;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(208, 219, 251);
}
#chats .content .chat-board .messages .by-user {
  justify-content: flex-end;
}
#chats .content .chat-board .messages .by-user .message-content {
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(10, 36, 114);
}
#chats .content .chat-board .input-field textarea {
  resize: none;
  padding: 1%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}

#profile .content {
  display: flex;
  flex-direction: column;
}
#profile .content .profile-welcome {
  font-size: 2rem;
  color: rgb(10, 36, 114);
}
#profile .content .profile-info {
  height: 100%;
  flex-grow: 1;
  margin: 1% 1%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#profile .content .profile-info .gradient {
  height: 10%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: linear-gradient(to right, rgb(114, 146, 243), rgb(251, 208, 242));
}
#profile .content .profile-info .hero-section {
  width: 100%;
  padding: 1% 2% 0;
  display: flex;
  align-items: center;
}
#profile .content .profile-info .hero-section .profile-img {
  width: 70px;
  height: 70px;
  margin-right: 2%;
}
#profile .content .profile-info .hero-section .profile-heading .name {
  font-size: 1.2rem;
  font-weight: 700;
}
#profile .content .profile-info .hero-section .cta {
  margin-left: auto;
  width: 20%;
  display: flex;
  gap: 6%;
  align-items: center;
  justify-content: flex-end;
}
#profile .content .profile-info .hero-section .cta button {
  width: 47%;
  padding: 5% 0;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
#profile .content .profile-info .hero-section .cta button svg {
  font-size: 1.2rem;
}
#profile .content .profile-info .profile-details {
  flex-grow: 1;
  padding: 0 2%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
#profile .content .profile-info .profile-details .group {
  display: flex;
  gap: 2%;
  align-items: center;
}
#profile .content .profile-info .profile-details .group .field {
  width: 49%;
}
#profile .content .profile-info .profile-details .group .field p {
  padding: 1% 2%;
}
#profile .content .profile-info .profile-details .group .field .label {
  padding: 0;
}
#profile .content .profile-info .profile-details .field {
  width: 100%;
}
#profile .content .profile-info .profile-details .field p {
  padding: 0.5% 1%;
  border-radius: 10px;
}
#profile .content .profile-info .profile-details .field .label {
  padding: 0;
  font-size: small;
}
#profile .content .profile-info .profile-form {
  flex-grow: 1;
  padding: 0 2%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
#profile .content .profile-info .profile-form .group {
  display: flex;
  gap: 2%;
  align-items: center;
}
#profile .content .profile-info .profile-form .group .input-field {
  flex-grow: 1;
}
#profile .content .profile-info .profile-form .group .input-field input {
  padding: 2%;
}
#profile .content .profile-info .profile-form .group .radio {
  flex-grow: 1;
  padding: 2%;
}
#profile .content .profile-info .profile-form .input-field input {
  width: 100%;
  border: none;
  outline: none;
  padding: 1%;
  border-radius: 10px;
  font-size: 0.9rem;
}
#profile .content .profile-info .profile-form .input-field .select {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5%;
  border-radius: 10px;
}
#profile .content .profile-info .profile-form .radio {
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 5%;
  font-size: 0.9rem;
}
#profile .content .profile-info .profile-form .radio label {
  padding-left: 2%;
}
#profile .content .profile-info .profile-form .radio .radio-group {
  display: flex;
  gap: 20%;
}
#profile .content .profile-info .profile-form .radio .radio-group label {
  display: flex;
  align-items: center;
  gap: 10px;
}
