@use 'variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: $mukta-body-regular;
    font-family: "Mukta", sans-serif;
}

main {
    height: 100vh;
}

/* Not Found Page */
#not-found {
    height: 100vh;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $primary-900;

    .cta {
        width: 20%;
        display: flex;
        gap: 5%;
        align-items: center;
        justify-content: center;

        .cta-btn {
            padding: 3% 10%;
            border-radius: 15px;
            border: 1px solid $primary-500;
            user-select: none;
        }

        :nth-child(2) {
            color: $white-500;
            background-color: $primary-500;
        }
    }

}

/* Landing Page */
#landing-page {
    color: $white-500;
    background-color: $primary-900;

    header {
        padding: 1%;
        display: flex;
        align-items: center;

        .title {
            flex-grow: 1;
            display: flex;
            gap: 2%;
            align-items: center;

            img {
                height: 40px;
            }

            p {
                font-size: 1.2rem;
                font-weight: 600;
            }
        }

        .cta {
            flex-grow: 1;
            display: flex;
            gap: 2%;
            align-items: center;
            justify-content: flex-end;

            .cta-btn {
                padding: 1% 3%;
            }
        }
    }

    .hero {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .tagline {
            font-size: 5rem;
            line-height: 1;
        }

        .subtitle {
            margin-top: 2%;
            opacity: 0.5;
        }

        .img-container {
            margin-top: 2%;
            position: relative;
            width: 70%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .gradient {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(rgba(0, 0, 0, 0.1), $primary-900);
            }
        }
    }
}

/* Signin / Signup Page */
.auth-container {
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;

    #welcome {
        width: 50%;
        display: flex;
        gap: 3%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(#00114E, #00A9D4);

        .info {
            width: 70%;
            padding: 4%;
            color: $white-500;
            border-radius: 10px;
            background-color: #005C90;

            h1 {
                padding-left: 5%;
                margin-bottom: 3%;
                border-left: 2px solid $white-500;
                font-size: $mukta-large-bold;
            }

            p {
                padding-left: 5%;
            }
        }

        img {
            height: 40%;
        }
    }

    .auth-form {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        .auth-card {
            width: 70%;
            padding: 3%;
            border-radius: 10px;
            display: flex;
            gap: 20px;
            flex-direction: column;

            h1 {
                font-size: $mukta-h1-regular;
                font-weight: 500;
            }

            .prompt {
                text-align: left;
            }

            form {
                width: 100%;
                display: flex;
                gap: 16px;
                flex-direction: column;

                .name {
                    width: 100%;
                    display: flex;
                    gap: 3%;
                    align-items: center;

                    input {
                        flex-grow: 1;
                        padding: 5%;
                    }
                }

                input,
                textarea {
                    width: 100%;
                    padding: 2.5%;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                }

                .form-utilities {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    transition: background-color 0.3s ease, border 0.3s ease, transform 0.3s ease, opacity 0.3s ease;

                    .remember-me-option {
                        flex-grow: 1;
                        display: flex;
                        gap: 2%;
                        align-items: center;
                        justify-content: flex-start;

                        .switch {
                            height: 25px;
                            width: 50px;
                            display: flex;
                            align-items: center;
                            border-radius: 25px;
                            background-color: rgba(0, 0, 0, 0.1);
                            transition: background-color 0.3s ease, border 0.3s ease;

                            .switch-thumb {
                                margin-left: 2.5px;
                                height: 20px;
                                width: 20px;
                                border-radius: 20px;
                                background-color: $white-500;
                                transition: margin-left 0.3s ease, background-color 0.3s ease;
                            }
                        }
                    }

                    .active {
                        .switch {
                            background-color: $primary-100;

                            .switch-thumb {
                                margin-left: 27.5px;
                                background-color: $primary-400;
                            }
                        }

                        p {
                            opacity: 1;
                            color: $primary-500;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: $primary-500;
                    }
                }

                button {
                    font-size: $mukta-body-bold;
                    margin-top: 1.5%;
                    padding: 2.5%;
                    border: none;
                    border-radius: 5px;
                    color: $white-500;
                    background-color: $primary-500;
                }
            }

            .auth-options {
                width: 100%;
                display: flex;
                gap: 20px;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .divider-text {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    hr {
                        flex-grow: 1;
                    }

                    span {
                        margin: 0 10px;
                    }
                }

                .options {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .option {
                        padding: 1%;
                        width: 48%;
                        display: flex;
                        gap: 2%;
                        align-items: center;
                        justify-content: center;
                        border-radius: 5px;
                    }
                }
            }

            p {
                text-align: center;

                a {
                    text-decoration: none;
                    font-weight: bold;
                    color: $primary-500;
                }
            }
        }
    }
}

#discover {
    margin: 0 auto;
    width: 70%;

    .hero {
        padding-top: 10%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;

        h1 {
            margin-bottom: 2%;
        }

        .description {
            width: 80%;
            margin-bottom: 1%;
        }

        .cta {
            width: 50%;
            display: flex;
            gap: 5%;
            align-items: center;

            button {
                flex-grow: 1;
                padding: 2%;
                outline: none;
                border: none;
                border-radius: 10px;
                font-size: 1rem;
            }
        }

        form {
            margin: 2% 0;
            padding: 2%;
            border-radius: 10px;
            display: flex;
            gap: 20px;
            flex-direction: column;

            .input-field {
                input {
                    padding: 1%;
                    width: 100%;
                    outline: none;
                    border: none;
                    border-radius: 10px;
                    font-size: 1rem;
                }

                .select {
                    width: 100%;
                }
            }

            button {
                padding: 1%;
                border: none;
                outline: none;
                border-radius: 10px;
                font-size: 1rem;
            }
        }
    }

    .card {
        padding: 2%;
        margin-bottom: 2%;
        border-radius: 20px;
        display: flex;
        gap: 10px;
        flex-direction: column;

        ul {
            list-style: none;

            li {
                display: flex;
                gap: 10px;
                align-items: center;
            }
        }

        &:nth-child(even) {
            color: $white-500;
            background-color: $primary-900;
        }
    }
}

#menu {
    width: 15%;
    height: 100%;
    padding: 2% 1% 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $white-500;
    background-color: $primary-900;
    position: relative;

    .collapse-btn {
        height: 30px;
        width: 30px;
        color: $black;
        background-color: $white-500;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: -15px;
        top: 130px;
        z-index: 100;

        svg {
            font-size: 1.5rem;
        }
    }

    .menu-title {
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;

        img {
            width: 40px;
        }

        p {
            font-size: 1.2rem;
        }
    }

    .menu-items {
        list-style: none;
        display: flex;
        gap: 10px;
        flex-direction: column;

        li {
            width: 100%;
            padding: 3%;
            padding-left: 10%;
            border-radius: 20px;
            display: flex;
            gap: 10px;
            align-items: center;
            font-size: 1.3rem;

            svg {
                font-size: 1.5rem;
            }
        }

        li:hover,
        .active {
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px 2px 5px rgba(0, 0, 0, 0.3);
            color: $black;
            background-color: $white-500;
        }
    }

    .menu-user-settings {
        display: flex;
        flex-direction: column;
        align-items: center;

        .profile {
            width: 100%;
            padding: 3%;
            padding-left: 10%;
            border-radius: 20px;
            display: flex;
            gap: 10px;
            align-items: center;
            font-size: 1.3rem;

            .profile-img {
                height: 25px;
                width: 25px;
            }
        }

        .logout {
            width: 100%;
            padding: 3%;
            padding-left: 10%;
            border-radius: 20px;
            display: flex;
            gap: 10px;
            align-items: center;
            font-size: 1.3rem;
            color: $error;

            svg {
                font-size: 1.5rem;
                font-weight: 700;
            }
        }

        .profile:hover,
        .logout:hover,
        .active {
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px 2px 5px rgba(0, 0, 0, 0.3);
            color: $black;
            background-color: $white-500;
        }

        .logout:hover {
            color: $error;
        }
    }
}

#dashboard,
#organization,
#teams,
#create-team,
#team-details,
#projects,
#create-project,
#project-details,
#tasks,
#create-task,
#update-task,
#chats,
#profile {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: $white-500;

    .content {
        width: 85%;
        padding: 1%;
        height: 100vh;
    }

    .collapsed {
        width: 5% !important;

        .menu-items {
            li {
                padding: 25% !important;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50% !important;
            }
        }

        .menu-user-settings {

            .profile,
            .logout {
                padding: 25% !important;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50% !important;
            }
        }
    }

    .expanded {
        width: 95% !important;
    }
}

#dashboard {
    .content {
        display: flex;
        flex-direction: column;

        .chart-options {
            width: 100%;
            display: flex;
            gap: 2%;
            align-items: center;
            justify-content: flex-end;

            button {
                width: 15%;
                padding: 0.5% 0;
                border: none;
                border-radius: 10px;
                font-size: 1.2rem;
            }
        }

        .charts {
            flex-grow: 1;
            padding: 1%;
            width: 100%;
            row-gap: 10%;
            display: flex;
            flex-wrap: wrap;

            .organization-workload,
            .organization-expertise {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .priority-distribution {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .status-distribution,
            .project-workload,
            .team-expertise {
                height: 100%;
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

#organization {
    .content {
        .organization-heading {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .title {
                color: $primary-500;
            }

            .cta {
                width: 20%;
                display: flex;
                gap: 10px;
                align-items: center;

                button {
                    flex-grow: 1;
                    outline: none;
                    border: none;
                    padding: 5%;
                    border-radius: 10px;
                    background-color: $white-500;
                    font-size: 1rem;
                    font-weight: 500;
                }

                button:hover {
                    color: $white-500;
                    background-color: $primary-900;
                }
            }
        }

        .members {
            padding: 2%;

            .heading {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .members-list {
                height: 70vh;
                margin: 1%;

                li {
                    height: 10%;
                    width: 100%;
                    padding: 5px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .member-info {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        a {
                            text-decoration: none;
                            color: inherit;
                        }
                    }

                    .cta {
                        width: 15%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;

                        .role {
                            width: 80%;
                            padding: 2% 5%;
                            border-radius: 5px;
                            background-color: $white-100;
                            text-align: center;
                        }

                        svg {
                            font-size: 1.3rem;
                        }
                    }

                    .authorized {
                        justify-content: space-between !important;

                        .role {
                            justify-content: space-between !important;
                        }
                    }
                }

                li:first-child {
                    border-top: 1px solid rgba(0, 0, 0, 0.1);
                }

                li:hover {
                    transform: scale(1.01);
                }
            }
        }

        .requests {
            padding: 2%;

            .heading {
                display: flex;
                align-items: center;
                justify-content: space-between;

                div {
                    width: 10%;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                }
            }

            .requests-list {
                height: 70vh;
                margin: 1%;

                li {
                    height: 10%;
                    width: 100%;
                    padding: 5px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .request-info {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        a {
                            text-decoration: none;
                            color: inherit;
                        }
                    }

                    .cta {
                        width: 35%;
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        justify-content: flex-end;

                        .role {
                            padding: 1% 5%;
                            border-radius: 10px;
                            background-color: $white-100;
                        }

                        .role {
                            width: 40%;
                            text-align: center;
                        }

                        .cta-button {
                            padding: 1% 5%;
                            border-radius: 10px;
                            color: $success;
                            background-color: rgba($color: green, $alpha: 0.2);
                            display: flex;
                            gap: 5px;
                            align-items: center;
                        }

                        .cta-button:hover {
                            background-color: rgba($color: green, $alpha: 0.3);
                        }

                        .cta-button:last-child {
                            color: $error;
                            background-color: rgba($color: red, $alpha: 0.2);

                            svg {
                                font-size: 1.2rem;
                            }
                        }

                        .cta-button:last-child:hover {
                            background-color: rgba($color: red, $alpha: 0.3);
                        }
                    }
                }

                li:first-child {
                    border-top: 1px solid rgba(0, 0, 0, 0.1);
                }

                li:hover {
                    transform: scale(1.01);
                }
            }
        }
    }
}

#teams {
    .content {
        .teams-list {
            list-style: none;
            padding: 2%;

            .teams-list-headings {
                padding: 0.5% 1%;
                border-radius: 10px;
                color: $white-500;
                background-color: $primary-900;
                font-size: 1.2rem;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

                p {
                    padding: 1%;
                    text-align: center;
                }
            }

            .teams-list-items {
                padding: 1%;
                height: 65vh;

                .teams-list-info {
                    height: 10%;
                    border-radius: 10px;
                    position: relative;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                    align-items: center;

                    .teams-list-info-item {
                        padding: 1%;
                        text-align: center;
                    }
                }

                .teams-list-info:nth-child(odd) {
                    box-shadow: none !important;
                }

                .teams-list-info:nth-child(even) {
                    background-color: $white-100;
                }
            }
        }
    }
}

#team-details {
    .content {
        position: relative;
        display: flex;
        align-items: center;

        .information {
            margin-top: 5%;
            padding: 2% 5%;
            width: 100%;
            height: 95%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .team-lead {
                .team-lead-details {
                    display: flex;
                    gap: 20px;
                    align-items: center;

                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                }
            }

            .developers,
            .testers {
                .list {
                    list-style: none;
                    max-height: 25vh;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    li {
                        height: 20%;
                        display: flex;
                        gap: 20px;
                        align-items: center;

                        a {
                            text-decoration: none;
                            color: inherit;
                        }
                    }
                }
            }
        }
    }
}

#projects {
    .content {
        .projects-list {
            margin-top: 2%;
            padding: 2%;
            height: 80vh;
            list-style: none;
            display: flex;
            row-gap: 5%;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;

            .project-info {
                padding: 2%;
                width: 30%;
                height: 48%;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .project-manager {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    .project-manager-details {
                        gap: 10px;
                        flex-direction: row;
                        align-items: center;

                        a {
                            text-decoration: none;
                            color: inherit;
                        }
                    }
                }

                .teams {
                    .teams-list-headings {
                        padding: 0.5%;
                        width: 100%;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        text-align: center;
                        border-radius: 5px;
                        color: $white-500;
                        background-color: $primary-900;
                    }

                    ul {
                        margin-top: 1%;
                        height: 6vh;
                        list-style: none;

                        li {
                            width: 100%;
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                            text-align: center;
                            border-radius: 5px;
                        }

                        li:nth-child(even) {
                            background-color: $white-100;
                        }
                    }
                }
            }

            .description {
                display: inline-block;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .date,
            .budget {
                display: flex;
                gap: 10px;
                align-items: center;
            }

            .project-manager {
                display: flex;
                gap: 10px;
                align-items: center;

                .project-manager-details {
                    display: flex;
                    flex-direction: column;

                    a {
                        text-decoration: none;
                        color: inherit;
                        font-size: small;
                    }
                }
            }
        }

        .project-info:nth-child(even) {
            color: $white-500;
            background-color: $primary-900;
        }
    }
}

#project-details {
    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .information {
            margin-top: 5%;
            padding: 2% 5%;
            width: 100%;
            height: 95%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .date,
            .budget {
                display: flex;
                gap: 10px;
                align-items: center;
            }

            .project-manager {
                .project-manager-details {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                }
            }

            .teams {
                .cta {
                    padding: 1%;
                    width: 100%;
                    display: flex;
                    gap: 2%;
                    align-items: center;
                    justify-content: space-between;

                    .select {
                        flex-grow: 1;
                    }

                    button {
                        width: 20%;
                        padding: 1% 0;
                        outline: none;
                        border: none;
                        border-radius: 10px;
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        justify-content: center;

                        p {
                            font-size: 1.2rem;
                        }

                        svg {
                            font-size: 1.5rem;
                        }
                    }
                }

                .teams-list {
                    list-style: none;

                    .teams-list-headings {
                        padding: 0.5%;
                        border-radius: 10px;
                        color: $white-500;
                        background-color: $primary-900;
                        font-size: 1.2rem;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

                        p {
                            padding: 1%;
                            text-align: center;
                        }
                    }

                    .teams-list-items {
                        height: 20vh;

                        .teams-list-info {
                            height: 20%;
                            border-radius: 10px;
                            position: relative;
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                            align-items: center;

                            .teams-list-info-item {
                                text-align: center;
                            }

                            svg {
                                position: absolute;
                                right: 1%;
                                top: 50%;
                                transform: translateY(-50%);
                                font-size: 1.5rem;
                            }
                        }

                        .teams-list-info:nth-child(odd) {
                            box-shadow: none !important;
                        }

                        .teams-list-info:nth-child(even) {
                            background-color: $white-100;
                        }
                    }
                }
            }

            .tasks {
                text-decoration: none;
                color: $black;
            }
        }
    }
}

#tasks {
    .content {
        display: flex;
        flex-direction: column;

        .heading {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            h2 {
                color: $primary-500;
            }

            .task-options {
                width: 75%;
                display: flex;
                gap: 5%;
                align-items: center;
                justify-content: flex-end;

                .select {
                    width: 40%;
                    padding: 0.5%;
                }

                .view-options {
                    width: 60%;
                    justify-self: flex-end;
                    display: flex;
                    gap: 4%;
                    align-items: center;
                    justify-content: flex-end;

                    button {
                        width: 48%;
                        padding: 2% 0;
                        border: none;
                        outline: none;
                        border-radius: 10px;
                        display: flex;
                        gap: 5%;
                        align-items: center;
                        justify-content: center;

                        svg {
                            font-size: 1.5rem;
                        }

                        p {
                            font-size: 1.2rem;
                        }
                    }
                }

                .cta {
                    width: 30%;
                    padding: 1% 0;
                    border: none;
                    outline: none;
                    border-radius: 10px;
                    display: flex;
                    gap: 5%;
                    align-items: center;
                    justify-content: center;

                    svg {
                        font-size: 1.5rem;
                    }

                    p {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        .task-container {
            height: 90%;
            padding: 0 1%;

            .gantt-chart-container {
                height: 100%;
                display: flex;
                gap: 2%;
                flex-direction: column;

                .select {
                    align-self: flex-end;
                    width: 15%;
                    padding: 0.2% !important;
                }

                .gantt-chart {
                    height: 100%;
                }

                .hide-add-column .gantt_add,
                .hide-add-column .gantt_grid_head_add {
                    display: none !important;
                }
            }

            .kanban-board-container {
                height: 100%;
                padding: 1% 0;
                display: flex;
                gap: 2%;
                align-items: center;
                justify-content: center;

                .kanban-column {
                    height: 100%;
                    width: 32%;
                    border-radius: 10px;
                    padding: 1%;
                    display: flex;
                    flex-direction: column;

                    h2 {
                        text-align: center;
                    }

                    &:first-child {
                        background-color: $pending;
                    }

                    &:nth-child(2) {
                        background-color: $in-progress;
                    }

                    &:last-child {
                        background-color: $completed;
                    }

                    .tasks {
                        height: 100%;
                        margin-top: 2%;
                        display: flex;
                        gap: 1%;
                        flex-direction: column;

                        .kanban-task {
                            width: 100%;
                            padding: 3%;
                            background-color: $white-500;
                            border-radius: 15px;
                            display: flex;
                            flex-direction: column;

                            .description {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            .task-meta-group {
                                display: flex;
                                gap: 10px;
                                align-items: center;

                                .priority-low {
                                    color: $priority-low;
                                }

                                .priority-normal {
                                    color: $priority-normal;
                                }

                                .priority-high {
                                    color: $priority-high;
                                }

                                .level-beginner {
                                    color: $level-beginner;
                                }

                                .level-intermediate {
                                    color: $level-intermediate;
                                }

                                .level-expert {
                                    color: $level-expert;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#teams,
#projects {
    .content {
        .heading {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $primary-500;

            .cta {
                width: 15%;
                border: none;
                outline: none;
                padding: 0.8%;
                border-radius: 10px;
                font-size: 1rem;
                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: center;

                svg {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

#create-team,
#create-project,
#create-task,
#update-task {
    .content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        form {
            height: 100%;
            width: 80%;
            margin-top: 2%;
            padding: 0 1%;
            display: flex;
            gap: 15px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            h1 {
                font-size: 2rem;
            }

            .input-field {

                input,
                textarea {
                    padding: 1%;
                    width: 100%;
                    outline: none;
                    border: none;
                    border-radius: 10px;
                    font-size: 1rem;
                }

                .select {
                    width: 100%;
                }
            }

            .date-duration-group,
            .task-meta-group {
                width: 100%;
                display: flex;
                gap: 2%;
                align-items: center;

                .input-field {
                    flex-grow: 1;

                    input {
                        padding: 2%;
                    }

                    .select {
                        padding: 1.5%;
                    }
                }
            }

            .cta {
                margin-top: 2%;
                width: 100%;
                display: flex;
                gap: 5%;
                align-items: center;

                button {
                    flex-grow: 1;
                    padding: 1%;
                    border: none;
                    outline: none;
                    border-radius: 10px;
                    background-color: $white-100;
                    font-size: 1.2rem;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;

                    &:nth-child(2) {
                        color: $white-500;
                        background-color: $error;
                    }
                }
            }
        }
    }
}

#chats {
    .content {
        .chat-context {
            width: 100%;
            display: flex;
            align-items: center;

            .select {
                width: 30%;
            }

            .chat-options {
                width: 50%;
                margin-left: auto;
                display: flex;
                gap: 5%;
                align-items: center;
                justify-content: flex-end;

                button {
                    width: 30%;
                    padding: 1.5% 0;
                    border: none;
                    border-radius: 10px;
                    font-size: 1.2rem;
                }
            }
        }

        .chat-board {
            height: 85vh;
            margin: 2% 1%;
            padding: 1% 1%;
            border-radius: 10px;
            display: flex;
            flex-direction: column;

            .messages {
                flex-grow: 1;
                padding: 1%;
                display: flex;
                flex-direction: column;
                gap: 2%;

                .message {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    .profile-img {
                        align-self: flex-start;
                    }

                    .message-content {
                        max-width: 70%;
                        padding: 0.5% 1%;
                        border-top-right-radius: 10px;
                        border-bottom-left-radius: 10px;
                        background-color: $primary-100;
                    }
                }

                .by-user {
                    justify-content: flex-end;

                    .message-content {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 10px;
                        border-bottom-left-radius: 0;
                        border-top-left-radius: 10px;
                        color: $white-500;
                        background-color: $primary-500;
                    }
                }
            }

            .input-field {
                textarea {
                    resize: none;
                    padding: 1%;
                    width: 100%;
                    outline: none;
                    border: none;
                    border-radius: 10px;
                    font-size: 1rem;
                }
            }
        }
    }
}

#profile {
    .content {
        display: flex;
        flex-direction: column;

        .profile-welcome {
            font-size: $mukta-h1-medium;
            color: $primary-500;
        }

        .profile-info {
            height: 100%;
            flex-grow: 1;
            margin: 1% 1%;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .gradient {
                height: 10%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                background-image: linear-gradient(to right, $primary-300, $contrast-100);
            }

            .hero-section {
                width: 100%;
                padding: 1% 2% 0;
                display: flex;
                align-items: center;

                .profile-img {
                    width: 70px;
                    height: 70px;
                    margin-right: 2%;
                }

                .profile-heading {
                    .name {
                        font-size: 1.2rem;
                        font-weight: 700;
                    }

                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                }

                .cta {
                    margin-left: auto;
                    width: 20%;
                    display: flex;
                    gap: 6%;
                    align-items: center;
                    justify-content: flex-end;

                    button {
                        width: 47%;
                        padding: 5% 0;
                        border: none;
                        border-radius: 10px;
                        font-size: 1.1rem;
                        display: flex;
                        gap: 5px;
                        align-items: center;
                        justify-content: center;
    
                        svg {
                            font-size: 1.2rem;
                        }
                    }
                }
            }

            .profile-details {
                flex-grow: 1;
                padding: 0 2%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: center;

                .group {
                    display: flex;
                    gap: 2%;
                    align-items: center;

                    .field {
                        width: 49%;

                        p {
                            padding: 1% 2%;
                        }

                        .label {
                            padding: 0;
                        }
                    }
                }

                .group-4 {
                    .field {
                        p {
                            padding: 2% 4%;
                        }
                    }
                }

                .field {
                    width: 100%;

                    p {
                        padding: 0.5% 1%;
                        border-radius: 10px;
                    }

                    .label {
                        padding: 0;
                        font-size: small;
                    }
                }
            }

            .profile-form {
                flex-grow: 1;
                padding: 0 2%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: center;

                .group {
                    display: flex;
                    gap: 2%;
                    align-items: center;

                    .input-field {
                        flex-grow: 1;

                        input {
                            padding: 2%;
                        }
                    }

                    .radio {
                        flex-grow: 1;
                        padding: 2%;
                    }
                }

                .group-4 {
                    .input-field {
                        input {
                            padding: 4%;
                        }
                    }
                }

                .input-field {
                    input {
                        width: 100%;
                        border: none;
                        outline: none;
                        padding: 1%;
                        border-radius: 10px;
                        font-size: 0.9rem;
                    }

                    .select {
                        width: 100%;
                        border: none;
                        outline: none;
                        padding: 0.5%;
                        border-radius: 10px;
                    }
                }

                .radio {
                    width: 100%;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: row;
                    gap: 5%;
                    font-size: 0.9rem;

                    label {
                        padding-left: 2%;
                    }

                    .radio-group {
                        display: flex;
                        gap: 20%;

                        label {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                        }
                    }
                }
            }
        }
    }
}